<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--1， 数据库连接的操作交给spring -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql:///test"></property>
        <property name="user" value="root"></property>
        <property name="password" value=""></property>
    </bean>

    <!--2，配置mybatis的SqlSessionFactory，需要注入全局配置文件和连接池  -->
    <bean id="sqlSessionFactoryId" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:SqlMapConfig.xml"></property>
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--3, 配置单mapper代理开发模式,通过id名获得mapper类对象，进而调用函数  -->
    <bean id="singleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.jimmy.dao.UserMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactoryId"></property>
    </bean>
</beans>